name: Build

on:
  push:
    tags:
      - "*.*.*"

# Allow creating releases and packages.
permissions:
  packages: write
  contents: write

jobs:
  goreleaser:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4 # v3.3.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@01dd5d3ca463c7f10f7f4f7b4f177225ac661ee4 # v6.1.0
        id: import_gpg
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSWORD }}

      - name: Prepare GPG signing key
        run: echo "${{ secrets.GPG_PRIVATE_KEY }}" > key.gpg

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@7ec5c2b0c6cdda6e8bbb49444bc797dd33d74dd8 # v5.0.0
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GPG_FINGERPRINT: ${{ steps.import_gpg.outputs.fingerprint }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
          NFPM_PASSPHRASE: ${{ secrets.GPG_PASSWORD }}
          NFPM_TESTPKG_PASSPHRASE: ${{ secrets.GPG_PASSWORD }}
